* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.landing-page{
    height: 100vh;
    width: 100%;
    background: url('https://img.freepik.com/free-photo/heap-assorted-pasta_23-2147849760.jpg?w=1380&t=st=1702886560~exp=1702887160~hmac=7c9c894c074bcc2ece0b23caee037dc99ac0a8fd1171f181e8d17b3d3241d14f');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8%;
}
.order-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; 
  }
  
  .order-button {
    background-color: transparent;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .order-button:hover {
    background-color: orangered;
    color: white;
  }
     